src/main/mule/world-time-converter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e08af828-82f1-41d8-b62a-aa003b662a3b" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="94693198-a97e-487d-8613-d4a32db2ea20" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-time-converterFlow" doc:id="40188b79-c6e9-441a-8701-f3bb41940dee" >
		<http:listener doc:name="Listener" doc:id="d4cd5ee8-43ca-4dfd-863a-3bdf2793c503" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="568ff8c4-fa88-42f0-8353-7bf86ceecfd8" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city" : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="6ad91ad5-c00a-478c-bc27-780bcbbbff71" message="checking jenkins poll"/>
		<logger level="INFO" doc:name="Logger" doc:id="d79aabdc-7b14-4f85-80c1-36c1bc9edb6e" message="Adding second logger"/>
		<logger level="INFO" doc:name="Logger" doc:id="e93f7f9c-d2aa-4a27-b126-44c578f15ea7" message="checking jenkins pipeline"/>
		<logger level="INFO" doc:name="Logger" doc:id="dfbea406-3e0e-431b-bb4d-f83663dede89" message="fdsvsdklv"/>
	</flow>
</mule>
